{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
    {{ super() }}
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/dropzone.css') }}">#}
{% endblock head %}
{% block page_body %}
    <header>
        <div class="page-header">
            <div class="container">
                <h1 class="text-center">{{ title }}</h1>
            </div>
        </div>
    </header>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert-info">{{ message }}</div>
        {% endfor %}
        {#                {{ wtf.quick_form(form) }}#}
        <form method=POST enctype=multipart/form-data action="{{ url_for('publish', id=id) }}" class="form-container">
            {{ form.hidden_tag() }}
            {% if form.errors.title %}
                <div class="form-group has-error required">
                    {{ form.title.label(class="control-label") | safe }}
                    {{ form.title(class="form-control", required=True) }}
                    {% for error in form.errors.title %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required">
                    {{ form.title.label(class="control-label") | safe }}
                    {{ form.title(class="form-control", required=True) }}
                </div>
            {% endif %}
            {% if form.errors.content %}
                <div class="form-group has-error">
                    {{ form.content.label(class="control-label") | safe }}
                    {{ form.content(class="form-control") }}
                    {% for error in form.errors.content %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group">
                    {{ form.content.label(class="control-label") | safe }}
                    {{ form.content(class="form-control") }}
                </div>
            {% endif %}
            {% if images %}
                <h3>已上传的图片:</h3>
                <div class="clearfix" style="border: 1px solid #cccccc; border-radius: 4px;">
                {% for image in images %}
                    <div class="col-xs-4 col-md-4 clearfix"
                         style="margin:5px 5px; border: 1px solid #cccccc; border-radius: 4px;">
                        <input type="checkbox" checked="checked" name="images" value="{{ value }}">
                        <img src="data:;base64,{{ base64.b64encode(image) }}" alt="hisPic" class="img-rounded  img-responsive" id=""
                             style="margin-bottom: 5px">
                        {#                        <button class="btn btn-danger center-block" id="deleteBtn" name="{{ name }}">删除</button>#}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <br>
            <h3 class="form-container">选择要上传的图片:</h3>
            <div class="form-container">
                {% if images | length == 0 %}
                    {% if form.errors.image1 %}
                        <div class="form-group has-error required">
                            {{ form.image1.label(class="control-label") | safe }}
                            {{ form.image1(class="form-control", required=True) }}
                            {% for error in form.errors.image1 %}
                                <p class="imaghelp-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="form-group required">
                            {{ form.image1.label(class="control-label") | safe }}
                            {{ form.image1(class="form-control", required=True) }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.image2.label(class="control-label") | safe }}
                        {{ form.image2(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image3.label(class="control-label") | safe }}
                        {{ form.image3(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image4.label(class="control-label") | safe }}
                        {{ form.image4(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image5.label(class="control-label") | safe }}
                        {{ form.image5(class="form-control") }}
                    </div>
                {% elif images | length == 1 %}
                    <div class="form-group">
                        {{ form.image2.label(class="control-label") | safe }}
                        {{ form.image2(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image3.label(class="control-label") | safe }}
                        {{ form.image3(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image4.label(class="control-label") | safe }}
                        {{ form.image4(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image5.label(class="control-label") | safe }}
                        {{ form.image5(class="form-control") }}
                    </div>
                {% elif images | length == 2 %}
                    <div class="form-group">
                        {{ form.image3.label(class="control-label") | safe }}
                        {{ form.image3(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image4.label(class="control-label") | safe }}
                        {{ form.image4(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image5.label(class="control-label") | safe }}
                        {{ form.image5(class="form-control") }}
                    </div>
                {% elif images | length == 3 %}
                    <div class="form-group">
                        {{ form.image4.label(class="control-label") | safe }}
                        {{ form.image4(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.image5.label(class="control-label") | safe }}
                        {{ form.image5(class="form-control") }}
                    </div>
                {% elif images | length == 4 %}
                    <div class="form-group">
                        {{ form.image5.label(class="control-label") | safe }}
                        {{ form.image5(class="form-control") }}
                    </div>
                {% elif images | length == 5 %}
                    <p>已经上传五张，无法上传</p>
                {% endif %}
                {% if form.errors.price %}
                    <div class="form-group has-error required">
                        {{ form.price.label(class="control-label") | safe }}
                        {{ form.price(class="form-control", required=True) }}
                        {% for error in form.errors.price %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="form-group required">
                        {{ form.price.label(class="control-label") | safe }}
                        {{ form.price(class="form-control", required=True) }}
                    </div>
                {% endif %}
                {% if form.errors.province %}
                    <div class="form-group has-error required">
                        {{ form.province.label(class="control-label") | safe }}
                        {{ form.province(class="form-control", required=True) }}
                        {% for error in form.errors.province %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="form-group required">
                        {{ form.province.label(class="control-label") | safe }}
                        {{ form.province(class="form-control", required=True) }}
                    </div>
                {% endif %}
                {% if form.errors.city %}
                    <div class="form-group has-error required">
                        {{ form.city.label(class="control-label") | safe }}
                        {{ form.city(class="form-control", required=True) }}
                        {% for error in form.errors.city %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="form-group required">
                        {{ form.city.label(class="control-label") | safe }}
                        {{ form.city(class="form-control", required=True) }}
                    </div>
                {% endif %}
                {{ form.submit(class="btn btn-primary pull-right", required=True) }}
            </div>
        </form>
    </div>
<br><br>
{% endblock page_body %}
{% block footer %}
    {{ super() }}
    {#    <script type="text/javascript" src="{{ url_for("static", filename="js/edit.js") }}"></script>#}
    {#    <script src="{{ url_for('static', filename='js/lib/dropzone.js') }}"></script>#}
{% endblock footer %}