{% extends 'base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="css/index.css") }}">
{% endblock head %}
{% block page_body %}
    <!--轮播图-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="img-responsive"
                     src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522256171647&di=d671953e0813fd4baab0cd8d3a14c212&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D624a946508087bf469e15faa9aba3d59%2F0bd162d9f2d3572c6e0037f28013632762d0c33a.jpg"
                     alt="slider01">
                <div class="carousel-caption">
                    <h1>幻灯片1</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-responsive"
                     src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522256171650&di=a9128dfcc6a0ca017373bece769a732a&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dpixel_huitu%252C0%252C0%252C294%252C40%2Fsign%3D867729432ba446236ac7ad22f15a1762%2F37d3d539b6003af3d1d28f593e2ac65c1038b69b.jpg"
                     alt="slider03">
                <div class="carousel-caption">
                    <h1>幻灯片2</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-responsive"
                     src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522256171646&di=39b3179891d38d7b47757aab16a028df&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D6a5bf667a3ec8a1300175fa39f6afbfa%2F622762d0f703918f9d9bef425b3d269758eec4f4.jpg"
                     alt="slider03">
                <div class="carousel-caption">
                    <h1>幻灯片3</h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#carousel-example-generic" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-generic" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <!--轮播图结束-->

    <!--列表内容-->
    <div class="container">
        <div class="row">
            {% if not productions %}
                <h1 class="center-block">暂无发帖</h1>
            {% endif %}
            {% for production in productions %}

                <div class="card-group col-lg-3 col-md-4 col-sm-6 col-xs-6">

                    <div class="card">
                        <a href="{{ url_for("detail",method="view", id=production.id) }}">
                            <img class="card-img-top img-responsive previewPic" alt="previewPic" name="previewPic"
                                 src="data:;base64,{{ base64.b64encode(production.image1) }}">
                            {#                        <img class="card-img-top"#}
                            {#                             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22259%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1626c509560%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1626c509560%22%3E%3Crect%20width%3D%22259%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.2578125%22%20y%3D%2296%22%3E259x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
                            {#                             alt="Card image cap">#}
                        </a>
                        <div class="card-body">
                            <a class="item-user" href="{{ url_for("self_page", id=production.user_id) }}">
                                <img src="data:;base64,{{ base64.b64encode(production.user.headPic) }}"
                                     alt="..." class="rounded-circle">
                                <span class="name" >{{ production.user.username }}</span>
                            </a>
                            <hr/>
                            <h5 class="card-title">{{ production.title }}</h5>
                            <p class="card-text">{{ production.content }}</p>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-pinglun"></use>
                            </svg>
                            33
                            <span style="margin-left: 1rem;"></span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-liulan3"></use>
                            </svg>
                            44
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">发布于：{{ production.create_time }}</small>
                        </div>

                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
    <!--列表内容结束-->


{% endblock %}
{% block footer %}
    {{ super() }}
    <script>
        {#        image = Document.getElementsByName("previewPic");#}
        {#        var image = new Image();#}
        {#        var realWidth = 0;//储存图片实际宽度#}
        {#        var realHeight = 0;//储存图片实际高度#}
        {#        //获取图片的宽高#}
        {#        image.src = "http://img2.utuku.china.com/640x0/news/20170210/77b8b5ca-11d3-4307-9a93-c12df5eb1a35.jpg";#}
        {#        //加载成功的处理#}
        {#        image.onload = function () {#}
        {#            realWidth = image.width;//获取图片实际宽度#}
        {#            realHeight = image.height;//获取图片实际高度#}
        {#            //让img的宽高相当于图片实际宽高的等比缩放，然后再偏移#}
        {#            if (realWidth > realHeight) {#}
        {#                img.width = (100 / realHeight) * realWidth;//等比缩放宽度#}
        {#                img.height = 100;//跟div高度一致#}
        {#                img.style.left = '-' + ((100 / realHeight) * realWidth - 100) / 2 + 'px';//设置图片相对自己位置偏移为img标签的宽度-高度的一半#}
        {#            } else if (realWidth < realHeight) {#}
        {#                img.width = 100;//跟div高度一致#}
        {#                img.height = (100 / realWidth) * realHeight;//等比缩放高度#}
        {#                img.style.top = '-' + ((100 / realWidth) * realHeight - 100) / 2 + 'px';//设置图片相对自己位置偏移为img标签的高度-宽度的一半#}
        {#            } else {#}
        {#                img.width = 100;#}
        {#                img.height = 100;#}
        {#            }#}
        {#        };#}
        {#        //图片加载失败的处理#}
        {#        img.onerror = function () {#}
        {#            img.src = "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492076382452&di=04ebd6c4688b2ffbd8ae18e685234704&imgtype=0&src=http%3A%2F%2Fd.hiphotos.baidu.com%2Fzhidao%2Fwh%253D450%252C600%2Fsign%3D0c96dc86da33c895a62b907fe4235fc6%2F0823dd54564e9258d2bb2dff9f82d158ccbf4e17.jpg";#}
        {#            img.width = 100;#}
        {#            img.height = 100;#}
        {#        }#}
    </script>
{% endblock %}